
*{
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
width: 900px;
height: 1000px;
background-color: rgb(15, 15, 68);
margin: 0 auto;

}
.ventana{
    height: 40%;
    background-color: rgb(22, 22, 142);
}
h1{
    text-align: center;
    color: white;
    font-size: 40px;
}
label{
    text-align: center;
    color: white;
    font-size: 20px;
}
#btnLlenar{
    padding: 25px;
    margin: 0 auto;
    background-color: rgb(13, 13, 95);
    color:white ;
    font-size: 16px;
    position:relative;
    margin-top: 15px;
    left: 35%;
    border-radius: 15px;
}
#numeros{
    position: relative;
    margin-top: 0%;
    left: 1%;
    padding-right: 150px;
}
p{
    margin-top: 1px;
    font-size: 15px;
    color: white;
    text-align: center;
}
.botones{
    padding: 25px;
    margin: 0 auto;
    background-color: rgb(13, 13, 95);
    color:white ;
    font-size: 16px;
    position:relative;
    margin-top: 15px;
    left: 0%;
    border-radius: 15px;
}